
/*
見た目だけの枠組みを「(ペーパー)モックアップ」という
いわゆるアウトラインというやつで、中身(コード)がない

RGBコードは#〇〇〇〇〇〇の　6ケタで構成されており、
赤・緑・青ごとに2ケタで割り当てられているらしい
色の強さは1~16(F)で調整される       例:#f06d43(オレンジ)
*/




/*ページ全体*/
body {
  background-color: #0ebff1;
  color: #fdffff;

  /*左右の空白を中央寄せにする (marginは幅寄せ,autoで自動調節)*/
  width: 500px; /*ページ全体の広さ*/
  margin-right: auto;
  margin-left: auto;
}
/*ボタン*/
button {
  padding: 5px 20px; /*ボタンの余白 上下|左右*/
  background-color: #337ab7;
  color: #fdffff;
  border-style: none;
}

/*
【marginとpaddingの違い】
marginは"外側"の余白
paddingは"内側"の余白

余白を外から内へ伸ばすか、内から外へ広げるかの違いにある

なので、インライン(改行なし)の文章でpaddingを指定してしまうと
余白がフォントサイズより大きく出来てしまい、上下の文字に被ってしまう現象が起こる
*/

/*入力欄*/
input {
  height: 20px; /*高さをもう少し分厚くする*/
}


